/*

!* --------- 6.1 Introduction ---------- *!

.introduction img.featured {
  padding: 55px 0 0 0;
}

!* --------- 6.2 Features ---------- *!

.features.row {
  padding-left: 5%;
  padding-right: 5%;
}

.features div:nth-child(4) {
  clear: both;
}
*/
