<!--Main Navigation-->
<nav id="nav-main">
  <ul>
    <li>
      <a routerLink="/Home" (click)="getActiveTab('Home')" [class.active]="activeTab==='Home'">Home</a>
    </li>
    <li>
      <a routerLink="/About" (click)="getActiveTab('About')" [class.active]="activeTab==='About'">About</a>
    </li>
    <li>
      <a routerLink="/Gallery" (click)="getActiveTab('Gallery')" [class.active]="activeTab==='Gallery'">Gallery</a>
    </li>
    <li>
      <a routerLink="/Service" (click)="getActiveTab('Service')" [class.active]="activeTab==='Service'">Services</a>
    </li>
    <li>
      <a routerLink="/Testimonial" (click)="getActiveTab('Testimonial')" [class.active]="activeTab==='Testimonial'">Testimonials</a>
    </li>
    <li>
      <a routerLink="/Client" (click)="getActiveTab('Client')" [class.active]="activeTab==='Client'">Clients</a>
    </li>
    <li>
      <a routerLink="/Pricing" (click)="getActiveTab('Pricing')" [class.active]="activeTab==='Pricing'">Pricing</a>
    </li>
    <li>
      <a routerLink="/Blog" (click)="getActiveTab('Blog')" [class.active]="activeTab==='Blog'">Blog</a>
    </li>
  </ul>
</nav>
<!--End of Main Navigation-->
