/*
!*Price*!

.pricing {
  background: #f5f5f5;
  padding: 25px;
  position: relative;
}

.price {
  display: inline-block;
  font-size: 62px;
  font-weight: 700;
  position: relative;
}

.price span {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 22px;
}

.pricing  p {
  font-style:italic;
  color:#b4b4b4;
  line-height:auto;
  margin:0;
}
*/
