<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="section-heading">
      <h3>{{pricing.tagline|uppercase}}</h3>
      <h2 class="section-title">{{pricing.title}}</h2>
    </div>

    <!--Pricing Block-->
    <div *ngFor="let price of pricing.plans" class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <h3>{{price.title}}</h3>
        <p class="pricing-sub">{{price.description}}</p>
        <div class="pricing">
          <div class="price"><span>{{price.currency}}</span>{{price.price}}</div>
          <p>{{price.details}}</p>
        </div>
        <ul *ngFor="let feature of price.features">
          <li>{{feature}}</li>
        </ul>
        <a href="{{price.action}}" class="button">Buy</a>
      </div>
    </div>
    <!--End Pricing Block-->


  </div>
</section>
<!--End of Pricing Tables-->
