<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h3>{{testimonial.tagline |uppercase}}</h3>
      <h2 class="section-title">{{testimonial.title}}</h2>
    </div>

    <!--User Testimonial-->
    <blockquote *ngFor="let quote of testimonial.feedback" class="col-3 testimonial classic">
      <img src="{{quote.userimg}}" alt="User"/>
      <q>{{quote.feedback}}</q>
      <footer>{{quote.name}} - {{quote.company}}</footer>
    </blockquote>
    <!-- End of Testimonial-->
  </div>

</aside>
<!--End of Testimonials-->
