<!--Pricing Block-->
<div *ngFor="let post of pages; let i=index" class="post-block col-3 wow fadeInUp" data-wow-delay="0.4s">
  <div class="post-block-content">
    <h3>{{post.tagline}}- {{i + 1}}</h3>
    <p class="post-sub">By {{post.author}} | {{post.date|date:'dd/MM/yyyy'}}</p>
    <div class="posting">
      <div class="post"></div>
      <p>{{post.description |textFilter:100}}</p>
    </div>
    <a href="/Article/{{post.id}}" class="button">Read More</a>
  </div>
</div>
<app-pagination [pager]="pager" (setPage)="setPage($event)"></app-pagination>
<!--End post Block-->



