<!--Introduction-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">

  <div class="row clearfix">
    <div class="section-heading">
      <h3>{{blog.tagline |uppercase }}</h3>
      <h2 class="section-title">{{blog.title}}</h2>
      <a routerLink="/Article-create" class="button" id="add_button"> <span><i class="fa fa-edit"></i></span></a>
      <p class="section-subtitle">{{blog.description}}</p>
    </div>
  </div>
  <app-post></app-post>
</section>
<!--End of Introduction-->
